.free > img {
  width: 200px;
  vertical-align: middle;
}
table > tbody > tr > td {
  width: 200px;
  height: 200px;
}

table > tbody > tr > td > img {
  width: 100px;
}
table tr td:nth-child(1) {
  vertical-align: top;
}
table tr td:nth-child(2) {
  vertical-align: bottom;
}
